.table-row.selected-row{
  background-color: lightgrey;
  color: black;
}

.table-row:hover{
  cursor: pointer;
}

.table-row{
  user-select: none;
}

.table{
  .thead-dark{
    th{
      background-color: black;
      border: 1px solid white;
    }
  }
}

.form-title{
  background-color: white;
  margin: 0 0 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: lightslategray;
}

.btn{
  border-color: white;
  color: white;
  background-color: black;
}
