.form-title{
  background-color: white;
  margin: 0 0 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: lightslategray;
}

.btn{
  border-color: white;
  color: white;
  background-color: black;
}

mat-form-field.document-header-element{
  min-width: 300px;
}

app-date-datepicker.document-header-element{
  min-width: 300px;
}
