<app-page-header
  [title]="'Сотрудники'">
</app-page-header>

<div class="mt-2 my-2">
  <button
    type="button"
    aria-label="Выбрать"
    mat-stroked-button
    [disabled]="!selectedRow"
    (click)="formSelect()">
    <mat-icon aria-hidden="false" aria-label="control_point">done</mat-icon>
    Выбрать
  </button>

  <button
    type="button"
    aria-label="Отменить"
    mat-stroked-button
    (click)="formCancel()">
    <mat-icon aria-hidden="false" aria-label="control_point">undo</mat-icon>
    Отменить
  </button>

  <hr class="mt-2">

<div>
  <h4 class="mt-3 mb-3"> > Сотрудники</h4>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          Наименование
        </th>
        <th scope="col">
          Подразделение
        </th>
        <th scope="col">
          Должность
        </th>
      </tr>
    </thead>

    <tbody>
    <tr *ngFor="let employee of employeeList"
        class="table-row"
        [ngClass]="{'selected-row': selectedRow && selectedRow === employee.pk}"
        (click)="listRowActivate(employee)"
        (dblclick)="listRowSelect(employee)"
    >
      <td class="row-background">
        {{ employee.name }}
      </td>
      <td class="row-background">
        {{ employee.subdivision_name }}
      </td>
      <td class="row-background">
        {{ employee.position_name }}
      </td>
    </tr>
    </tbody>

  </table>

</div>
