form {
  margin: auto auto;
  min-width: 600px;
}

.justify-content-center{
  justify-content: center;
};

.min-w-100{
  min-width: 100px;
}



.btn{
  border-color: white;
  color: white;
  background-color: black;
}
